.projects {
  background-color: #fff;
  padding-top: 11vh;
}
.projects .header {
  text-align: center;
}
.projects .header h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}
.projects .header .bottom {
  width: 30vw;
  margin: auto;
  font-size: 20px;
  color: #5a5a5a;
  line-height: 1.8em;
}
.projects .project-container .project-box {
  background-color: #eee;
  border: 1px solid blue;
  border-radius: 30px;
  margin: 30px 222px;
  overflow: hidden;
}
.projects .project-container .project-box .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7fc6e4;
  color: black;
  font-size: 2.5rem;
  width: 100%;
  height: 50px;
}
.projects .project-container .project-box .project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.projects .project-container .project-box .project.left {
  flex-direction: row;
}
.projects .project-container .project-box .project.right {
  flex-direction: row-reverse;
}
.projects .project-container .project-box .project .project-image {
  border-radius: 30px;
  width: 650px;
  margin: 0 25px;
  padding: 10px;
  cursor: pointer;
}
.projects .project-container .project-box .project .project-content {
  width: 650px;
  margin: 0 25px;
}
.projects .project-container .project-box .project .project-content .title {
  padding-top: 25px;
}
.projects .project-container .project-box .project .project-content .title h3 {
  font-size: 2rem;
}
.projects .project-container .project-box .project .project-content .description {
  padding-top: 30px;
}
.projects .project-container .project-box .project .project-content .description p {
  font-size: 20px;
  color: #5a5a5a;
  line-height: 1.8em;
}
.projects .project-container .project-box .project .project-content .tech-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.projects .project-container .project-box .project .project-content .tech-icons .tech-icon {
  width: 80px;
  height: auto;
}

@media only screen and (max-width: 1650px) {
  .projects .header h2 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .projects .project-container .project-box {
    margin: 30px 200px;
  }
  .projects .project-container .project-box .project .project-image {
    width: 450px;
    margin: 0 0px;
    padding: 0px;
  }
  .projects .project-container .project-box .project .project-content {
    width: 650px;
    margin: 0 25px;
  }
  .projects .project-container .project-box .project .project-content .tag {
    font-size: 1.4rem;
    padding: 10px 25px;
  }
  .projects .project-container .project-box .project .project-content .title {
    padding-top: 5px;
  }
  .projects .project-container .project-box .project .project-content .title h3 {
    font-size: 1.8rem;
  }
  .projects .project-container .project-box .project .project-content .description {
    padding-top: 10px;
  }
  .projects .project-container .project-box .project .project-content .description p {
    font-size: 20px;
    line-height: 1.2em;
  }
  .projects .project-container .project-box .project .project-content .tech-icons {
    margin: 10px;
  }
  .projects .project-container .project-box .project .project-content .tech-icons .tech-icon {
    width: 70px;
    height: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .projects .bottom {
    display: none;
  }
  .projects .project-container .project-box {
    margin: 30px 100px;
  }
  .projects .project-container .project-box .project .project-image {
    width: 450px;
    margin: 0 0px;
    padding: 0px;
  }
  .projects .project-container .project-box .project .project-content {
    width: 650px;
    margin: 0 25px;
  }
  .projects .project-container .project-box .project .project-content .tag {
    font-size: 1.4rem;
    padding: 10px 25px;
  }
  .projects .project-container .project-box .project .project-content .title {
    padding-top: 5px;
  }
  .projects .project-container .project-box .project .project-content .title h3 {
    font-size: 1.8rem;
  }
  .projects .project-container .project-box .project .project-content .description {
    padding-top: 10px;
  }
  .projects .project-container .project-box .project .project-content .description p {
    font-size: 20px;
    line-height: 1.2em;
  }
  .projects .project-container .project-box .project .project-content .tech-icons {
    margin: 10px;
  }
  .projects .project-container .project-box .project .project-content .tech-icons .tech-icon {
    width: 70px;
    height: auto;
  }
}/*# sourceMappingURL=Projects.css.map */