.projects {
  position: relative;
  padding-top: 11vh;
  background-image: url(/projectBg.png);
  background-attachment: fixed;
  background-size: cover;

  .header {
    text-align: center;

    h2 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .bottom {
      width: 30vw;
      margin: auto;
      font-size: 20px;
      color: #5a5a5a;
      line-height: 1.8em;
    }
  }

  .project-container {
    .project-box {
      backdrop-filter: blur(15px) saturate(180%);
      -webkit-backdrop-filter: blur(15px) saturate(180%);
      background-color: rgba(255, 255, 235, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.125);
      border-radius: 12px;
      filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.125));
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.125);
      margin: 50px 222px;
      overflow: hidden;

      .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7fc6e4;
        color: black;
        font-size: 2.5rem;
        width: 100%;
        height: 60px;
      }

      .project {
        display: flex;
        justify-content: center;

        &.left {
          flex-direction: row;
        }

        &.right {
          flex-direction: row-reverse;
        }

        .image-container {
          flex: 1;
          overflow: hidden;
          .project-image {
            width: 100%;
            cursor: pointer;
            transition: transform 0.3s ease;
          }

          .project-image:hover {
            transform: scale(1.1) rotate(1deg);

          }
        }

        .project-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .tech-icons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .tech-icon {
              width: 80px;
              height: auto;
            }
          }

          .description {
            p {
              font-size: 20px;
              color: #5a5a5a;
              line-height: 1.6em;
              margin: 0 40px;
            }
          }

          .button-box {
            display: flex;
            justify-content: center;

            button {
              display: flex;
              align-items: center;
              border: none;
              padding: 12px 24px;
              border-radius: 24px;
              font-size: 1.4rem;
              cursor: pointer;
            }
            .github {
              margin-right: 20px;
              color: #7fc6e4;
              border: 4px solid #7fc6e4;

              i {
                color: #7fc6e4;
                font-size: 2rem;
                margin-right: 10px;
                transition: all 0.3s ease;
              }
              transition: all 0.3s ease;
            }

            .github:hover {
              transform: scale(1.125);
              color: #5a5a5a;
              border-color: #5a5a5a;
              i {
                color: #5a5a5a;
              }
              transition: all 0.3s ease;
            }

            .website {
              background: #7fc6e4;
              margin-left: 20px;
              color: #fff;
              i {
                color: #fff;
                font-size: 2rem;
                margin-right: 10px;
              }
              transition: all 0.3s ease;
            }
            .website:hover {
              transform: scale(1.125);
              background-color: #5a5a5a;
              border-color: rgba(255, 255, 255, 0.9);
              filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1650px) {
  .projects {
    .header {
      h2 {
        font-size: 50px;
        margin-bottom: 20px;
      }
    }

    .project-container {
      .project-box {
        margin: 50px 200px;

        .project {
          .project-content {
            .description {
              p {
                line-height: 1.2em;
              }
            }

            .tech-icons {
              .tech-icon {
                width: 70px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .projects {
    .header {
      .bottom {
        display: none;
      }
    }
    .project-container {
      .project-box {
        margin: 50px 150px;

        .project {
          .project-content {
            .description {
              p {
                font-size: 20px;
                margin: 0 20px;
              }
            }

            .button-box {
              button {
                padding: 10px 20px;
                font-size: 1.2rem;
              }
              .github {
                margin-right: 10px;
                border: 2px solid #7fc6e4;
                i {
                  font-size: 1.7rem;
                }
              }

              .website {
                margin-left: 10px;

                i {
                  font-size: 1.7rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1370px) {
  .projects {
    .project-container {
      .project-box {
        margin: 50px 60px;

        .tag {
          font-size: 2.2rem;
          height: 50px;
        }

        .project {
          .project-content {
            .description {
              p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .projects {
    .project-container {
      .project-box {
        margin: 50px 40px;
        .project {
          .project-content {
            .tech-icons {
              .tech-icon {
                width: 60px;
              }
            }
            .description {
              p {
                font-size: 16px;
                margin: 0 15px;
              }
            }
            .button-box {
              button {
                padding: 6px 10px;
                font-size: 1rem;
              }
              .github {
                margin-right: 7px;
                i {
                  font-size: 1.4rem;
                }
              }

              .website {
                margin-left: 7px;

                i {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .projects {
    .header {
      h2 {
        font-size: 40px;
        margin-bottom: 0px;
      }
    }
    .project-container {
      .project-box {
        margin: 40px;
      }
    }
  }
}

@media only screen and (max-width: 915px) {
  .projects {
    .project-container {
      .project-box {
        margin: 40px 80px;
        .project {
          &.left {
            flex-direction: column;
          }

          &.right {
            flex-direction: column;
          }
          .project-content {
            .tech-icons {
              padding: 20px 0;
              .tech-icon {
                width: 70px;
              }
            }
            .description {
              p {
                font-size: 18px;
                margin: 0px 30px;
                padding-bottom: 20px;
              }
            }
            .button-box {
              padding-bottom: 20px;
              button {
                padding: 10px 15px;
                font-size: 1rem;
              }
              .github {
                margin-right: 7px;
                i {
                  font-size: 1.4rem;
                }
              }

              .website {
                margin-left: 7px;

                i {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .projects {
    .project-container {
      .project-box {
        margin: 30px;
        .project {
          .project-content {
            .tech-icons {
              .tech-icon {
                width: 50px;
              }
            }
            .description {
              p {
                font-size: 16px;
                margin: 0px 15px;
                padding-bottom: 20px;
              }
            }
            .button-box {
              padding-bottom: 20px;
              button {
                padding: 7px 10px;
                font-size: 1rem;
              }
              .github {
                margin-right: 7px;
                i {
                  font-size: 1.3rem;
                }
              }

              .website {
                margin-left: 7px;

                i {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .projects {
    .project-container {
      .project-box {
        margin: 30px;
        .tag {
          font-size: 1.8rem;
          height: 40px;
        }
        .project {
          .project-content {
            .tech-icons {
              padding: 15px;
              .tech-icon {
                width: 40px;
              }
            }
            .description {
              p {
                font-size: 0.9rem;
                line-height: 0.9rem;
                margin: 0px 15px;
                padding-bottom: 15px;
              }
            }
            .button-box {
              padding-bottom: 15px;
              button {
                padding: 6px 9px;
                font-size: 0.9rem;
              }
              .github {
                margin-right: 7px;
                i {
                  font-size: 1.3rem;
                }
              }

              .website {
                margin-left: 7px;

                i {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .projects {
    .project-container {
      .project-box {
        margin: 20px;
        .tag {
          font-size: 1.5rem;
          height: 30px;
        }
        .project {
          .project-content {
            .tech-icons {
              .tech-icon {
                width: 35px;
              }
            }
          }
        }
      }
    }
  }
}
