.infoBlock {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50vw;
  height: 60vh;
  background: #333b50;
  top: 93vh;
  left: 25vw;
  align-items: center;
  z-index: 10;

  .infoBlock-top {
    margin-top: 60px;
    align-items: center;

    img {
      width: 120px;
    }
  }

  .infoBlock-text {
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    padding: 0 50px;
  }

  button {
    background-color: #eae6dc;
    width: 300px;
    height: 70px;
    color: #333;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media only screen and (max-width: 1650px) {
  .infoBlock {
    .infoBlock-text {
      font-size: 1.4rem;
      margin-top: 35px;
    }

    button {
      margin-top: 35px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .infoBlock {
    width: 60vw;
    left: 20vw;
  }
}

@media only screen and (max-width: 1130px) {
  .infoBlock {
    width: 70vw;
    left: 15vw;
    z-index: 5;
    .infoBlock-text {
      font-size: 1.4rem;
      margin-top: 25px;
    }

    button {
      margin-top: 25px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .infoBlock {
    width: 80vw;
    left: 10vw;
    .infoBlock-text {
      font-size: 1.4rem;
      margin-top: 35px;
    }

    .infoBlock-top {
      margin-top: 40px;
      align-items: center;

      img {
        width: 100px;
      }
    }

    button {
      margin-top: 35px;
    }
  }
}

@media only screen and (max-width: 790px) {
  .infoBlock {
    width: 80vw;
    left: 10vw;
    .infoBlock-text {
      font-size: 1.3rem;
      margin-top: 20px;
      padding: 0 50px;
    }

    .infoBlock-top {
      margin-top: 35px;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .infoBlock {
  
    .infoBlock-text {
      font-size: 1.2rem;
      margin-top: 25px;
      padding: 0 30px;
    }

    .infoBlock-top {
      margin-top: 40px;
      align-items: center;

      img {
        width: 100px;
      }
    }

    button {
      width: 250px;
      height: 40px;
      margin-top: 30px;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .infoBlock {
    width: 90vw;
    height: 60vh;
    left: 5vw;
    z-index: 0;
    .infoBlock-top {
      margin-top: 30px;
      img {
        width: 100px;
      }
    }

    .infoBlock-text {
      font-size: 1.1rem;
      margin-top: 30px;
      padding: 0 20px;
    }

    button { 
      margin-top: 20px;  
    }
  }
}
