.hero {
  position: relative;
  height: 122vh;
  overflow: hidden;
  background-color: rgb(195, 198, 203);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/arron6.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
    pointer-events: none;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    width: 680px;
    z-index: 2;
    margin-left: 222px;
    margin-top: 230px;
    padding-right: 90px;

    .top-text {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 3rem;
        font-weight: 400;
        color: #ffffff;
      }

      h1 {
        font-size: 6rem;
        font-weight: 700;
        color: #ffffff;
      }

      h2 {
        font-size: 4rem;
        font-weight: 700;
        color: #ffffff;
      }
    }

    .hero-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding-top: 40px;

      .icon-circle {
        width: 80px;
        height: 80px;
        background-color: rgba(51, 59, 80, 0.8);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        #icons {
          font-size: 2.3rem;
          color: #f8f5f3;
        }
      }
    }
  }
}

@media only screen and (max-width: 1650px) {
  .hero {
    &::before {
      background-image: url(/arron.png);
    }
    .hero-left {
      width: 600px;
      margin-left: 200px;
      margin-top: 230px;
      padding-right: 90px;

      .top-text {
        h3 {
          font-size: 4rem;
        }

        h1 {
          font-size: 6rem;
        }

        h2 {
          font-size: 3.5rem;
        }
      }

      .hero-icons {
        padding: 40 40 0 40;
        padding .icon-circle {
          width: 70px;
          height: 70px;

          #icons {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .hero {
    &::before {
      background-image: url(/arron3.png);
    }
    .hero-left {
      width: 550px;
      margin-left: 100px;
      margin-top: 230px;

      .top-text {
        h3 {
          font-size: 3.5rem;
        }

        h1 {
          font-size: 5rem;
        }

        h2 {
          font-size: 3rem;
        }
      }

      .hero-icons {
        padding: 40 40 0 40;
        padding .icon-circle {
          width: 60px;
          height: 60px;

          #icons {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1187px) {
  .hero {
    &::before {
      background-image: url(/arron2.png);
    }
    .hero-left {
      width: 550px;
      margin-left: 50px;
      margin-top: 200px;

      .top-text {
        h3 {
          font-size: 2.5rem;
        }

        h1 {
          font-size: 4rem;
        }

        h2 {
          font-size: 2rem;
        }
      }

      .hero-icons {
        z-index: 3;
        .icon-circle {
          width: 70px;
          height: 70px;

          #icons {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .hero {
    &::before {
      background-attachment: scroll;
    }
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    &::before {
      background-image: url(/arron7.png);
      z-index: 0;
    }

    .hero-left {
      width: 500px;
      margin-left: 20px;
      margin-top: 220px;

      .top-text {
        h3 {
          font-size: 2.5rem;
        }

        h1 {
          font-size: 4rem;
        }

        h2 {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .hero {
    &::before {
      background-image: url(/arron4.png);
    }
    .hero-left {
      position: relative;
      width: 420px;
      margin-left: 20px;
      margin-top: 250px;

      .top-text {
        h3 {
          font-size: 2rem;
        }

        h1 {
          font-size: 3.5rem;
        }

        h2 {
          font-size: 1.8rem;
          margin-bottom: -10px;
        }
      }
      .hero-icons {
        z-index: 3;
        .icon-circle {
          width: 50px;
          height: 50px;

          #icons {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    &::before {
      background-image: url(/hero-mobile.png);
      z-index: 0;
    }
    .hero-left {
      position: relative;
      width: 350px;
      margin-left: 20px;
      margin-top: 250px;

      .top-text {
        h3 {
          font-size: 2rem;
        }

        h1 {
          font-size: 3.2rem;
        }

        h2 {
          font-size: 1.8rem;
          margin-bottom: -10px;
        }
      }
      .hero-icons {
        z-index: 3;
        .icon-circle {
          width: 50px;
          height: 50px;

          #icons {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
